body {
    font-family: 'Canva Sans', sans-serif;
    background-color: #36393f;
}

img {
    position: absolute;
    width: 10%;
    height: 10%;
    left: 1%;
    top: 1%;
}

#loginForm {
    position: absolute;
    width: 30%;
    height: 50%;
    left: 35%;
    top: 25%;
    background-color: #2f3136;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}

#loginForm h2 {
    text-align: center;
    color: #ffffff;
}

input, button {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    background-color: #40444b;
    color: #dcddde;
}

input:focus {
    outline: none;
    border: 1px solid #7289da;
}

#email {
    top: 20%;
}

#password {
    top: 30%;
}

#submit {
    top: 40%;
    width: 63.5%;
    background-color: #7289da;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#submit:hover {
    background-color: #677bc4;
}

h4 {
    position: absolute;
    left: 35%;
    top: 77.5%;
    color: #b9bbbe;
}

a {
    position: absolute;
    right: 35%;
    top: 80%;
    color: #7289da;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}