body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #36393f;
    color: white;
}

img {
    position: absolute;
    width: 10%;
    height: 10%;
    left: 1%;
    top: 1%;
}

a {
    color: #5865f2;
}

.body-container {
    display: flex;
    flex-direction: column;
    height: 75vh;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    max-width: 40%;
    font-size: 20px;
}

.form-container {
    background-color: #2f3136;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 40%;
    height: 75vh;
    float:  right;
    margin-top: 100px;
    margin-right: 50px;
}

.form-container textarea {
    padding: 20px;
    max-width: 90%;
    background-color: #36393f;
    color: white;
    border: none;
}

.form-container button {
    background-color: #5865f2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px 30px;
}