body {
    font-family: 'Canva Sans', sans-serif;
    background-color: #36393f;
}

img {
    position: absolute;
    width: 10%;
    height: 10%;
    left: 1%;
    top: 1%;
}

button {
    position: absolute;
    top: 3%;
    width: 10%;
    height: 5%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 3px;
    background-color: #40444b;
    color: #dcddde;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}

input:focus {
    outline: none;
    border: 1px solid #7289da;
}

h4 {
    position: absolute;
    left: 35%;
    top: 77.5%;
    color: #b9bbbe;
}

a {
    position: absolute;
    right: 35%;
    top: 80%;
    color: #7289da;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}