#files {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    overflow: scroll;
    background: #2f3136;
    color: #fff;
    border-right: 1px solid #23272a;
}

#code {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 78%;
    height: 64%;
    font-family: monospace;
    font-size: 16px;
    background: #36393f;
    color: #dcddde;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    padding: 16px;
    resize: none;
}

#top-bar {
    position: absolute;
    top: 0;
    left: 20%;
    width: 79%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23272a; 
    color: #fff;
    border-bottom: 1px solid #2f3136;
    padding-left: 16px;
}

#console {
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 79%;
    height: 20%;
    font-family: monospace;
    font-size: 16px;
    background: #23272a;
    color: #b9bbbe;
    border-top: 1px solid #2f3136;
    padding: 8px;
    overflow-y: auto;
}

.context-menu {
    position: absolute;
    background: #2f3136;
    color: #fff;
    border: 1px solid #23272a;
    padding: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    z-index: 1000;
    display: none;
    height: 200px;
}

.context-menu button {
    display: block;
    width: 100%;
    height: 40px;
    margin: 0px;
    background-color: #2f3136;
}

.context-menu button:hover {
    background-color: #40444b;
    color: #fff;
}

.file-item {
    background-color: #2f3136;
    width: 100%;
    height: 40px;
    padding: 4px;
    color: #b9bbbe;
    text-align: left;
    margin: 0px;
}

.file-item:hover {
    background-color: #40444b;
}

.running-button {
    background-color: #2f3136;
}

.console-input {
    width: 100%;
    height: 5%;
    background-color: #23272a;
    color: #b9bbbe;
    border: none;
    font-family: monospace;
    font-size: 16px;
    padding: 8px;
}

.console-input:focus {
    outline: none;
}

button {
    background-color: #7289da;
    color: white;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
}

body {
    background-color: #2f3136;
}