<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Forge</title>
        <script src="contact-us/script.js"></script>
        <link rel="stylesheet" href="contact-us/style.css">
    </head>
    <body>
        <img src="images/logo.png" alt="Logo">

        <div class="body-container">
            <h1>Contact Us</h1>
            <p>If you want to learn computer science; teaching java, python, and c#; with creator of this site, or if you have any further questions:</p>
            <ul>
                <li>Email: <a href="mailto:code.forge.site@gmail.com">code.forge.site@gmail.com</a></li>
                <li>Phone: +1 (346) 874-8798</li>
            </ul>
        </div>

        <div class="form-container">
            <h1>Send us a message</h1>
            <textarea id="messageBox" rows="10" cols="90" placeholder="Type your message here..."></textarea>
            <br>
            <button id="sendMessageButton" onclick="sendMessage()">Send</button>
        </div>
    </body>
</html>