<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Project</title>
        <link rel="stylesheet" href="create-project/style.css">
        <script src="create-project/script.js"></script>
    </head>
    <body>
        <h1>Create a New Project</h1>
        <div id="projectForm">
            <label for="projectName">Project Name:</label>
            <input type="text" id="projectName" name="projectName" required>
            <br><br>
            <label for="projectDescription">Project Description:</label>
            <textarea id="projectDescription" name="projectDescription" required></textarea>
            <br><br>
            <label for="isPrivate">Is Private</label>
            <input type="checkbox" id="isPrivate" name="isPrivate">
            <button onclick="submit()" id="submit">Create Project</button>
        </div>
    </body>
</html>