<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Project</title>
        <link rel="stylesheet" href="create-project/style.css">
        <script src="create-project/script.js"></script>
    </head>
    <body>
        <h1>Create a New Project</h1>
        <div id="projectForm">
            <label for="projectName">Project Name:</label>
            <input type="text" id="projectName" name="projectName" required>
            <br><br>
            <label for="projectDescription">Project Description:</label>
            <textarea id="projectDescription" name="projectDescription" required></textarea>
            <br><br>
            <label for="isPrivate">Is Private</label>
            <input type="checkbox" id="isPrivate" name="isPrivate">
            <label for="Type">Programming Language</label>
            <select name="Type" id="Language">
                <option value="1">Java</option>
                <option value="2">Python</option>
                <option value="3">JavaScript</option>
                <option value="4">C++</option>
                <option value="5">C#</option>
                <option value="6">C</option>
            </select>
            <button onclick="submit()" id="submit">Create Project</button>
        </div>
    </body>
</html>