<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forge</title>
        <script src="home/script.js"></script>
        <link rel="stylesheet" href="home/style.css">
    </head>
    <body>
        <img src="images/logo.png" alt="logo">
        <div id="tabs">
            <button id="homeTab" class="tab" onclick="showTab('home')">Home</button>
            <button id="profileTab" class="tab" onclick="showTab('profile')">Profile</button>
            <button id="settingsTab" class="tab" onclick="showTab('settings')">Settings</button>
        </div>

        <div id="Projects">
            <div id="projectList">
                <h3>No projects.</h3>
            </div>
        </div>
        <button id="createProjectButton" onclick="showTab('create-project')">Create New Project</button>
    </body>
</html>