<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Project</title>
        <link rel="stylesheet" type="text/css" href="project/style.css">
        <script src="project/script.js"></script>
    </head>
    <body>
        <div id="files"></div>
        <textarea id="code" oninput="updateText()" readonly placeholder="Soon to be typed in..."></textarea>
        <div id="top-bar">
            <button id="run" onclick="run()">Run</button>
        </div>
        <div id="console"></div>

        <div id="folderMenu" class="context-menu">
            <button onclick="deleteFile()">Delete</button>
            <button onclick="addFile('file')">Add File</button>
            <button onclick="addFile('folder')">Add Folder</button>
            <button onclick="rename()">Rename</button>
        </div>

        <div id="fileMenu" class="context-menu">
            <button onclick="deleteFile()">Delete</button>
            <button onclick="downloadFile()">Download</button>
            <button onclick="rename()">Rename</button>
        </div>

        <div id="divMenu" class="context-menu">
            <button onclick="addFile('file')">Add File</button>
            <button onclick="addFile('folder')">Add Folder</button>
        </div>

        <div id="settingsMenu" class="context-menu">
            <button onclick="deleteProject()">Delete</button>
            <button onclick="renameProject()">Rename</button>
        </div>
    </body>
</html>