<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Settings - Forge</title>
        <script src="settings/script.js"></script>
        <link rel="stylesheet" href="settings/style.css">
    </head>
    <body>
        <img src="images/logo.png" alt="Logo">

        <div class="body-container">
            <h1>Profile</h1>
            <div class="field-container">
                <h2>Name</h2>
                <input id="name" type="text" disabled value="Name">
                <button class="edit-button" onclick="edit('name', this)">Edit</button>
            </div>

            <div class="field-container">
                <h2>Email</h2>
                <input id="email" type="text" disabled value="Email">
                <button class="edit-button" onclick="edit('email', this)">Edit</button>
            </div>

            <div class="field-container">
                <h2>Password</h2>
                <input id="password" type="text" disabled value="Password">
                <button class="edit-button" onclick="edit('password', this)">Edit</button>
            </div>

            
            <button class="body-tool" onclick="logout()">Log Out</button>
        </div>

        <div class="overlay-box">
            <div class="verification-box">
                <input type="number" name="code" id="code">
                <button onclick="confirmCode()">Confirm</button>
            </div>
        </div>
    </body>
</html>