<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forge Signup</title>
        <script src="signup/script.js"></script>
        <link rel="stylesheet" href="signup/style.css">
    </head>
    <body>
        <img src="images/logo.png" alt="logo">

        <div id="signupForm">
            <h2>Sign Up</h2>
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>
            <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
            <input type="text" id="username" placeholder="Username" required>
            <input type="number" id="verificationCode" placeholder="Verification Code" required disabled>
            <button id="submit" onclick="signup()">Send Verification Code</button>
        </div>

        <h4>Already have an account?</h4>
        <a href="/login">Sign in</a>
    </body>
</html>