#logo {
    position: absolute;
    width: 10%;
    height: 10%;
    left: 2.5%;
    top: 1%;
}

body {
    background-color: #36393f;
    font-family: 'Canva Sans', sans-serif;
    color: #dcddde;
}

#tabs {
    position: absolute;
    bottom: 12.5925926%;
    left: 2.5%;
    width: 12.1875%;
    height: 69.8148148148%;
    background-color: #2f3136;
    margin: 0;
    padding: 0;
}

#tabs button {
    height: 7.16180371353%;
    width: 82.0512820513%;
    margin: 0;
    margin-left: 8.97435897436%;
    margin-right: 8.97435897436%;
    margin-bottom: 1.98938992042%;
    margin-top: 10%;
    background-color: #373640;
    color: white;
    border: none;
}

#projects {
    display: flex;
    position: absolute;
    right: 2.708333333%;
    bottom: 12.5925926%;
    height: 69.8148148148%;
    width: 80.572916666%;
    overflow: scroll;
    scrollbar-width: none;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #2f3136;
}

#createProjectButton {
    position: absolute;
    top: 2.77777778%;
    right: 2.708333333%;
    height: 9.55555556%;
    width: 15.625%;
    background-color: #373640;
    color: white;
    border: none;
    font-size: 16px;
    border: 20px solid #2f3136;
}

.project-box {
    background-color: #373640;
    width: 17.96875vw;
    height: 20.8333333vh;
    margin: 50px;
    align-content: center;
}

.project-box img {
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    max-width: 35%;
    background-color: rgb(45, 45, 53);
    padding: 5px;
}

.project-box div {
    float: right;
    padding: 0;
    margin: 0;
    margin-right: 40px;
    max-width: 55%;;
}